<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IP_stream.Properties.Settings.IP_StreamConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ip_stream;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!--imsi_qos-->
<!--ip_stream-->

<!--connectionString="Data Source=192.168.1.12;Initial Catalog=IP_stream_37b_20100521_new2;Persist Security Info=True;User ID=sa;Password=sa"-->

<!--connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ip_stream;Integrated Security=True"-->


<!--<connectionStrings>
	<add name="db" connectionString="server=.;database=Northwind;uid=sa;pwd=;" providerName="System.Data.SqlClient"/>
	<add name="blog" connectionString="server=.;database=blog;uid=sa;pwd=;" providerName="System.Data.SqlClient"/>
</connectionStrings>
<system.web>
	<caching>
		<sqlCacheDependency enabled="true">
			<databases>
				<add name="db" connectionStringName="db" pollTime="60000"/>
				<add name="blog" connectionStringName="blog" pollTime="60000"/>
			</databases>
		</sqlCacheDependency>
	</caching>
</system.web>-->