<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <!--<add name="IP_stream.Properties.Settings.IP_StreamConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=IP_Stream;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="IP_stream.Properties.Settings.IP_StreamConnectionString1"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=IP_Stream;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="IP_stream.Properties.Settings._23AConnectionString"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=23A;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
